@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-menu-item-active {
  border: 1px solid #1677ff;
}

.ant-form-item-explain-success {
  color: #0D6EFD;
  margin-bottom: 8px;
}